<!DOCTYPE html>
<html lang ="en">

<!Header and Home page links >
<head>
  <title>Math Hub</title>
</head>
<body>
  <style>
    body{
      background-color: lightblue;
    }
    .btn{
      background-color: lightpink;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      width: 50%;

    }
  </style>
    <div id= "header"> 
        <a href="./Home.html">Home Page</a>
        <a href="./About.html">About</a>  
    </div>
  
    <div class= "btn">
      <h2><a href="./Mathzooms.html">Zoom Rooms</a></h2>
    </div>
</body>