<! Math Waiting Room ** different from other waiting rooms, this was the test one
<!DOCTYPE html>
<html lang ="en">
<head>
    <title>Math Waiting Room</title>
</head>
<body>
    <style>
        body{
            background-color: lightblue;
        }
    </style>
    <div id= "header"> 
        <a href="./Home.html">Home Page</a>
        <a href="./About.html">About</a>  
    </div>
    <h1>Please wait while we match you with an available tutor...</h1>
    <script src="zoom send.js"></script>
</body>