<!Math tutor submits meeting link to add to database>
<!DOCTYPE html>
<html lang ="en">

<!Header and Home page links >
<head>
  <title>Tutoring Center</title>
</head>
 <body>
    <div id= "header"> 
        <h1> Tutoring Center </h1>
        <a href="./Home.html">Home Page</a> 
        <a href="./about.html">About Us</a> 
    </div>
    Input meeting link: <input type="text" id="zoomMeeting" value=" ">  
        <button onclick="sendMathZoom()">Submit</button>
    <p id ="mathLink"> </p>
    <script src="zoom send.js"></script>
 </body>