<! Student hub for kids to select subjects>
<!DOCTYPE html>
<html lang ="en">

<!Header and Home page links >
<head>
  <title>Student Center</title>
</head>

<body>
    
    <div id= "header"> 
        <h1> Student Center </h1>
        <a href="./Home.html">Home Page</a> 
        <a href="./about.html">About Us</a> 
    </div>
    
    <h1>Today I want to study...</h1>
        <a href="./Math Hub.html">  <img src ="https://www.netclipart.com/pp/m/327-3277701_picture-of-math-symbols-18-buy-clip-art.png" width = "300" height = "200"/> Link to Math Hub </a>
    <br>
        <a href="./English Hub.html"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQobytNvj6rFZyrIbspaV094qg6vd9tw0gSAw&usqp=CAU" width="300" height="200"/> Link to English Hub </a>
    <br>
        <a href="./Science Hub.html"> <img src="https://i.pinimg.com/originals/c3/9d/87/c39d8747b92efcfb9921b0dc55d81c7f.gif" width = "200"/> Link to Science Hub </a>

  <br><br>
  </body>
</body>
