<! Tutoring hub for tutors to select subjects
<!DOCTYPE html>
<html lang ="en">

<!Header and Home page links >
<head>
  <title>Tutoring Center</title>
</head>


<body>
    <style>
        body{
            background-color: lightblue;
        }
    </style>
    <div id= "header"> 
        <h1> Tutoring Center </h1>
        <a href="./Home.html">Home Page</a> 
        <a href="./about.html">About Us</a> 
    </div>
<! Tutor interface, they select the zoom room they will be in based on subject>
    <div id = "Tutor Hub">
         <h3> Ready to tutor? Click on an image to select your subject</h3>
         <p><strong>MATH</strong></p>
         
        <a href="./MathTutor.html">  <img src ="https://www.netclipart.com/pp/m/327-3277701_picture-of-math-symbols-18-buy-clip-art.png" alt ="Link to Math Hub"width = "300" height = "200"/>  </a>
    <br>
        <p><strong>ENGLISH</strong></p>
        
        <a href="./English Hub.html"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQobytNvj6rFZyrIbspaV094qg6vd9tw0gSAw&usqp=CAU" alt="Link to English Hub"width="300" height="200"/>  </a>
    <br>
        <p><strong>SCIENCE</strong></p>
        
        <a href="./Science Hub.html"> <img src="https://i.pinimg.com/originals/c3/9d/87/c39d8747b92efcfb9921b0dc55d81c7f.gif" alt = "Link to Science Hub"width = "200"/>  </a>
  </body>
  
</div>
